@import 'Default.css';

.space
{
    margin-top: 16px;
}

.content
{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999;
    text-align: center;
    padding: 60px 32px;
    width: 370px;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.04);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}

.content header
{
    color: var(--secondary-color);
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: var(--font);
}

.field
{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: var(--secondary-color);
}

.field span
{
    color: #222;
    width: 40px;
    line-height: 45px;
}

.field input
{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: var(--font);
}

.field input[type="submit"]
{
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    font-family: var(--font);
}

.field input[type="submit"]:hover
{
    color: var(--primary-color);
    background: none;
}

.login
{
    font-size: 15px;
    color: var(--secondary-color);
    font-family: var(--font);
}

.login a
{
    color: var(--primary-color);
    text-decoration: none;
}

.login a:hover
{
    text-decoration: underline;
}